@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");
/* start global rules */
:root {
  --main-color: #008fcf;
  --nav-height: 70px;
  --main-transition: 0.3s;
  --main-section-padding: 100px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-heading {
  margin: 0 auto 30px;
  padding: 10px 30px;
  border: 2px solid #000;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-heading::after,
.main-heading::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
  z-index: -1;
}
.main-heading::after {
  left: -30px;
}
.main-heading::before {
  right: -30px;
}
.main-heading:hover {
  color: #fff;
  border-color: #fff;
}
.main-heading:hover::before,
.main-heading:hover::after {
  width: 50%;
  height: 100%;
  border-radius: 0;
}
.main-heading:hover::after {
  left: 0;
}
.main-heading:hover::before {
  right: 0;
}
/* start global rules */
/* start nav bar */
nav {
  box-shadow: 0px 0px 9px 0px #eee;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: var(--nav-height);
  position: relative;
}
nav .logo a {
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
  height: var(--nav-height);
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  nav .logo {
    width: 100%;
  }
  nav .container .logo a {
    height: calc(var(--nav-height) / 2);
    justify-content: center;
  }
}
nav .container > ul {
  display: flex;
}
nav .container > ul > li:last-child:hover .mega-menu {
  opacity: 1;
  z-index: 2;
  top: calc(100% + 2px);
}
nav .container > ul > li > a {
  color: #000;
  font-size: 14px;
  padding: 0 20px;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  nav .container > ul {
    margin: auto;
  }
  nav .container > ul > li > a {
    height: calc(var(--nav-height) / 2);
    padding: 0 10px;
  }
}
nav .container > ul > li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
nav .container > ul > li > a:hover {
  background-color: #fcfcfc;
  color: var(--main-color);
}
nav .container > ul > li > a:hover::after {
  left: 0;
}
/* end nav bar */
/* start mega menu */
nav .mega-menu {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: calc(100% + 20px);
  width: 100%;
  z-index: -1;
  border-bottom: 2px solid var(--main-color);
  display: flex;
  gap: 40px;
  padding: 20px;
  opacity: 0;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  nav .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
nav .mega-menu .image {
  flex: 1;
}
@media (max-width: 767px) {
  nav .mega-menu .image {
    display: none;
  }
}
nav .mega-menu .image img {
  width: 250px;
  max-width: 100%;
}
nav .mega-menu ul {
  flex: 1;
}
nav .mega-menu ul li a {
  padding: 15px;
  display: block;
  color: var(--main-color);
  position: relative;
  overflow: hidden;
}
nav .mega-menu ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
  nav .mega-menu ul li a {
    padding: 10px;
  }
  nav .mega-menu ul:first-of-type li:last-child {
    border-bottom: 1px solid #eee;
  }
}
nav .mega-menu ul li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
nav .mega-menu ul li a:hover::after {
  left: 0;
}
nav .mega-menu ul li a i {
  margin-right: 20px;
}
/* end mega menu */
/* start landing */
.landing {
  position: relative;
  overflow: hidden;
}
.landing::after {
  content: "";
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: -1;
  transform: skewY(-6deg);
}
.landing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: calc(100vh - var(--nav-height));
}
@media (max-width: 991px) {
  .landing .container {
    justify-content: center;
    text-align: center;
  }
}
.landing .text p {
  line-height: 1.7;
  letter-spacing: 1px;
  color: #555;
  max-width: 600px;
}
.landing .image img {
  position: relative;
  max-width: 250px;
  height: auto;
  animation: up-down-img 3s linear infinite;
}
.landing .arrow {
  font-size: 25px;
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  animation: up-down-arrow 2s linear infinite;
}
/* end landing */
/* start articles */
.articles {
  padding: var(--main-section-padding) 0;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .article {
  box-shadow: 0 0 10px #eee;
  border-radius: 7px;
  overflow: hidden;
  transition: var(--main-transition);
}
.articles .article:hover {
  box-shadow: 0 0 10px 5px #eee;
  transform: translateY(-10px);
}
.articles .article .image img {
  width: 100%;
}
.articles .article .content {
  padding: 20px;
  border-bottom: 1px solid #e9e6e6;
}
.articles .article .content h3 {
  margin: 0;
}
.articles .article .content p {
  margin-bottom: 0;
  color: #777;
  line-height: 1.5;
  letter-spacing: 1px;
}
.articles .article .read-more {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
}
.articles .article .read-more span {
  cursor: pointer;
}
.articles .article:hover .read-more i {
  animation: arrow-move 2s linear infinite;
}
/* end articles */
/* start gallery */
.gallery {
  background-color: #eee;
  padding: var(--main-section-padding) 0;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.gallery .item {
  background-color: #fff;
  padding: 10px;
  box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 50%);
}
.gallery .item .image {
  overflow: hidden;
  position: relative;
}
.gallery .item .image::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgb(0 0 0 / 20%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
}
.gallery .item .image:hover::after {
  width: 100%;
  height: 100%;
}
.gallery .item .image img {
  display: block;
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .item .image:hover img {
  transform: rotate(4deg) scale(1.1);
}
/* end gallery */
/* start features */
.features {
  padding: var(--main-section-padding) 0;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .feat {
  text-align: center;
  border: 1px solid #eee;
  overflow: hidden;
}
.features .feat .image {
  position: relative;
}
.features .feat .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .feat .image::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 70px 660px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
  z-index: 2;
}
.features .feat:hover .image::before {
  border-width: 0px 660px 100px 0px;
}
.features .feat .image img {
  display: block;
  max-width: 100%;
}
.features .feat h3 {
  font-size: 25px;
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 20px;
}
.features .feat h3::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.features .feat p {
  line-height: 2;
  margin: 15px;
  font-weight: 600;
}
.features .feat a {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 5px;
  margin: 20px auto;
  font-size: 20px;
  position: relative;
  overflow: hidden;
}
.features .feat a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: red;
  z-index: -1;
  transition: var(--main-transition);
}
.features .feat a:hover::after {
  width: 100%;
  height: 100%;
}
/* first feature */
.features .feat:first-child .image::after {
  background-color: rgb(167 0 57 / 40%);
}
.features .feat:first-child h3::after {
  background-color: #a70039;
}
.features .feat:first-child a {
  color: #a70039;
}
.features .feat:first-child a:hover {
  color: #fff;
}
.features .feat:first-child a::after {
  background-color: #a70039;
}
/* second feature */
.features .feat:nth-child(2) .image::after {
  background-color: rgb(0 188 212 / 40%);
}
.features .feat:nth-child(2) h3::after {
  background-color: #00bcd4;
}
.features .feat:nth-child(2) a {
  color: #00bcd4;
}
.features .feat:nth-child(2) a:hover {
  color: #fff;
}
.features .feat:nth-child(2) a::after {
  background-color: #00bcd4;
}
/* third feature */
.features .feat:last-child .image::after {
  background-color: rgb(76 175 80 / 40%);
}
.features .feat:last-child h3::after {
  background-color: #4caf50;
}
.features .feat:last-child a {
  color: #4caf50;
}
.features .feat:last-child a:hover {
  color: #fff;
}
.features .feat:last-child a::after {
  background-color: #4caf50;
}
/* end features */
/* start testimonials */
.testimonials {
  padding: var(--main-section-padding) 0;
  background-color: #eee;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px 40px;
  margin-top: 100px;
}
.testimonials .item {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}
.testimonials .item img {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: 0;
  border: 8px solid #eee;
}
.testimonials .item h3 {
  margin: 0;
  color: var(--main-color);
}
.testimonials .item .title {
  margin: 20px 0;
  color: #777;
}
.testimonials .item .icons i.fas {
  color: #ffc105;
}
.testimonials .item p {
  line-height: 1.6;
  color: #777;
  margin-bottom: 0;
  margin-top: 20px;
}
/* end testimonials */
/* strat team */
.team {
  padding: var(--main-section-padding) 0;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .box {
  padding: 40px 0;
  position: relative;
}
.team .box::after,
.team .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 7px;
}
.team .box::after {
  width: 80%;
  background-color: rgb(244 242 242);
  z-index: -2;
}
.team .box::before {
  width: 0%;
  background-color: #ccc;
  z-index: -1;
  transition: var(--main-transition);
}
.team .box:hover::before {
  width: 80%;
}
@media (max-width: 767px) {
  .team .box::after,
  .team .box:hover::before {
    width: 100%;
  }
}
.team .box .data {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .team .box .data {
    justify-content: center;
  }
}
.team .box .data .image img {
  display: block;
  width: 250px;
  border-radius: 7px;
}
.team .box .data .social {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
.team .box .data .social a i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
}
.team .box .data .social a i:hover {
  color: #ffc105;
  background-color: #fff;
  transform: rotate(360deg) scale(1.2);
}
.team .box .info {
  padding-left: 25%;
}
@media (max-width: 767px) {
  .team .box .info {
    padding: 0;
    text-align: center;
  }
}
.team .box .info h3 {
  color: var(--main-color);
}
/* end team */
/* start services */
.services {
  padding: var(--main-section-padding) 0;
  background-color: #eee;
  counter-reset: count;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .box {
  background-color: #fff;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 4px 0px #cfcfcf;
  transition: var(--main-transition);
}
.services .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover:after {
  width: 100%;
}
.services .box i {
  font-size: 40px;
  color: #777;
  margin: 25px;
}
.services .box h3 {
  margin: 0 0 20px;
  font-size: 22px;
  color: var(--main-color);
}
.services .box a {
  display: block;
  padding: 15px;
  background-color: #fafafa;
  color: var(--main-color);
  text-align: right;
  position: relative;
}
.services .box a::after {
  counter-increment: count;
  content: "0" counter(count);
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: var(--main-color);
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .box a::before {
  content: "";
  position: absolute;
  left: 70px;
  top: 0;
  height: 100%;
  background-color: #ccc;
  width: 50px;
  transform: skewX(-20deg);
  z-index: 2;
}
/* end services */
/* start our skills */
.our-skills {
  padding: var(--main-section-padding) 0;
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 991px) {
  .our-skills .image {
    display: none;
  }
}
.our-skills .image img {
  display: block;
  max-width: 100%;
  height: 100%;
}
.our-skills .content {
  flex: 1;
}
.our-skills .content .skill:not(:last-of-type) {
  padding-bottom: 20px;
}
.our-skills .content .skill h3 {
  margin: 0;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .content .skill h3 span {
  color: var(--main-color);
  font-size: 15px;
  border: 1px solid var(--main-color);
  padding: 3px 5px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.our-skills .content .skill h3 span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #00f;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: var(--main-transition);
  z-index: -1;
}
.our-skills .content .skill h3 span:hover {
  color: #fff;
}
.our-skills .content .skill h3 span:hover::after {
  width: 100%;
}
.our-skills .content .skill .progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .content .skill .progress span {
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
}
/* end our skills */
/* start works */
.works {
  padding: var(--main-section-padding) 0;
  background-color: #eee;
}
.works .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 991px) {
  .works .container {
    flex-direction: column;
  }
}
.works .image img {
  width: 400px;
  max-width: 100%;
}
.works .content .box {
  background-color: rgb(255 255 255 / 70%);
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .works .content .box {
    flex-direction: column;
    text-align: center;
  }
}
.works .content .box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0 0 0 / 20%);
  width: 0;
  height: 0;
  transition: var(--main-transition);
}
.works .content .box:hover::after {
  width: 100%;
  height: 100%;
}
.works .content .box i {
  font-size: 35px;
  color: var(--main-color);
}
.works .content .box .text h3 {
  margin: 0;
}
.works .content .box .text p {
  color: #777;
  line-height: 1.7;
  margin: 20px 0 0;
}
/* end works */
/* start events */
.events {
  padding: var(--main-section-padding) 0;
  --section-color: #f4f4f4;
}
.events .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
}
.events .content img {
  max-width: 300px;
}
@media (max-width: 767px) {
  .events .content img {
    display: none;
  }
}
.events .content .info {
  text-align: center;
}
.events .content .info .time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.events .content .info .time .item {
  border: 1px solid var(--section-color);
  width: 70px;
  border-radius: 5px;
  transition: var(--main-transition);
}
.events .content .info .time .item .num {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 1px solid var(--section-color);
  transition: var(--main-transition);
}
.events .content .info .time .item:hover,
.events .content .info .time .item:hover .num {
  border-color: var(--main-color);
}
.events .content .info .time .item .text {
  padding: 10px 0;
  font-size: 14px;
}
.events .content .info h3 {
  font-size: 25px;
}
.events .content .info p {
  color: #777;
  line-height: 1.7;
}
.events form {
  max-width: 600px;
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: var(--section-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 767px) {
  .events form {
    padding: 10px;
    border-radius: 0;
  }
}
.events form input[type="email"],
.events form input[type="submit"] {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
}
.events form input[type="email"] {
  flex: 1;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .events form input[type="email"] {
    border-radius: 0;
  }
}
.events form input[type="email"]::placeholder {
  transition: var(--main-transition);
}
.events form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events form input[type="submit"] {
  background-color: #c61450;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 767px) {
  .events form input[type="submit"] {
    border-radius: 0;
  }
}
/* end events */
/* start pricing */
.pricing {
  padding: var(--main-section-padding) 0;
  background-color: #eee;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 50px;
}
.pricing .box {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 11px rgb(86 86 86 / 28%);
  position: relative;
  z-index: 1;
}
@media (min-width: 1200px) {
  .pricing .box:nth-child(2) {
    top: -15px;
  }
}
.pricing .box:nth-child(2) .popular {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: var(--main-color);
  color: #fff;
  writing-mode: vertical-lr;
  padding: 10px 10px 30px;
  width: 40px;
}
.pricing .box:nth-child(2) .popular::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  left: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 20px;
}
.pricing .box::after,
.pricing .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #e9e6e6;
  transition: var(--main-transition);
  z-index: -1;
}
.pricing .box::after {
  top: 0;
  left: 0;
}
.pricing .box::before {
  bottom: 0;
  right: 0;
}
.pricing .box:hover::after,
.pricing .box:hover::before {
  width: 100%;
}
.pricing .box .title {
  font-size: 25px;
  font-weight: bold;
}
.pricing .box i {
  font-size: 50px;
  color: var(--main-color);
  margin: 20px 0;
}
.pricing .box .price {
  margin-bottom: 20px;
}
.pricing .box .price span:first-of-type {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
}
.pricing .box .price span:last-of-type {
  color: #777;
}
.pricing .box ul {
  text-align: left;
}
.pricing .box ul li {
  padding: 15px 0;
  border-top: 1px solid #f1f1f1;
}
.pricing .box ul li::before {
  content: "\f00c";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  color: var(--main-color);
}
.pricing .box a {
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  color: var(--main-color);
  font-weight: bold;
  margin-top: 25px;
  transition: var(--main-transition);
}
.pricing .box a:hover {
  background-color: var(--main-color);
  color: #fff;
}
/* end pricing */
/* start videos */
.videos {
  padding: var(--main-section-padding) 0;
}
.videos .container .holder {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
}
@media (max-width: 991px) {
  .videos .container .holder {
    flex-direction: column;
  }
}
.videos .container .menu .top {
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  background-color: #f4f4f4;
}
.videos .container .menu ul li {
  padding: 20px;
  border-top: 1px solid #f4f4f4;
}
.videos .container .menu ul li:hover {
  color: var(--main-color);
}
.videos .container .menu ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.videos .container .preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eee;
  padding: 20px;
  flex: 1;
}
.videos .container .preview img {
  max-width: 100%;
}
.videos .container .preview .info {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}
/* end videos */
/* start stats */
.stat {
  padding: var(--main-section-padding) 0;
  background-image: url(../img/stats/background_image.jpg);
  background-size: cover;
  position: relative;
  color: #000;
  z-index: 1;
}
.stat::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255/ 80%);
  z-index: -1;
}
.stat h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}
.stat .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.stat .box {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  position: relative;
}
.stat .box::after,
.stat .box::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 0;
  width: 2px;
  transition: var(--main-transition);
}
.stat .box::after {
  top: 0;
  left: 0;
}
.stat .box::before {
  bottom: 0;
  right: 0;
}
.stat .box:hover::after,
.stat .box:hover::before {
  height: 100%;
}
.stat .box i {
  font-size: 25px;
}
.stat .box .num {
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0;
}
.stat .box .text {
  font-style: italic;
  color: var(--main-color);
}
/* end stats */
/* start discount */
.discount {
  display: flex;
  text-align: center;
  height: 100vh;
}
@media (max-width: 991px) {
  .discount {
    flex-direction: column;
    height: auto;
  }
}
.discount h3 {
  font-size: 30px;
}
.discount .info {
  flex: 1;
  background-image: url(../img/discount/discount-background1.jpg);
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;
  padding: 20px;
  animation: change-backgroung 5s linear infinite;
}
.discount .info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(22 131 217 / 90%);
  z-index: -1;
}
.discount .info p {
  font-size: 18px;
  line-height: 1.7;
}
.discount .info img {
  max-width: 100%;
  width: 300px;
}
.discount form {
  flex: 1;
}
.discount form .input {
  display: block;
  margin: 15px auto;
  padding: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
  width: 50%;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .discount form .input {
    width: 80%;
  }
}
.discount form textarea {
  height: 200px;
}
.discount form input[type="submit"] {
  width: 50%;
  background-color: var(--main-color);
  padding: 10px;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
/* end discount */
/* start footer */
.footer {
  padding-top: 50px;
  background-color: #000;
  color: #fff;
  margin-top: 50px;
  --footer-color: #b9b9b9;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.footer .box h3 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 30px;
}
.footer .box .icon a i {
  color: var(--footer-color);
  width: 50px;
  height: 50px;
  background-color: #333;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 5px;
  transition: var(--main-transition);
}
.footer .box .icon a:first-of-type i:hover {
  background-color: #1877f2;
}
.footer .box .icon a:nth-last-of-type(2) i:hover {
  background-color: #1da1f2;
}
.footer .box .icon a:last-of-type i:hover {
  background-color: #ff0000;
}
.footer .box p {
  color: var(--footer-color);
  line-height: 1.7;
  font-size: 18px;
}
.footer .box img {
  width: 80px;
  border: 3px solid #fff;
  margin: 2px;
}
.footer .box ul li a {
  display: block;
  color: var(--footer-color);
  padding: 15px;
  border-bottom: 1px solid #444;
  transition: var(--main-transition);
}
.footer .box ul li a::before {
  content: "\f101";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 8px;
  color: var(--main-color);
}
.footer .box ul li a:hover {
  padding-left: 25px;
  color: #fff;
}
.footer .box .item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 15px;
}
@media (max-width: 767px) {
  .footer .box .item {
    flex-direction: column;
  }
}
.footer .box .item i {
  font-size: 25px;
  color: var(--main-color);
}
.footer .box .item div {
  color: var(--footer-color);
}
.footer .box .item div span {
  display: block;
  margin-bottom: 10px;
}
.footer .copy {
  text-align: center;
  padding: 30px;
  border-top: 1px solid #444;
  margin-top: 100px;
}
/* end footer */
/* start animation */
@keyframes up-down-img {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -30px;
  }
}
@keyframes up-down-arrow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
@keyframes arrow-move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}
@keyframes change-backgroung {
  0%,
  100% {
    background-image: url(../img/discount/discount-background1.jpg);
  }
  50% {
    background-image: url(../img/discount/discount-background2.jpg);
  }
}
/* end animation */
